@import "sweetalert2/src/sweetalert2.scss";
@import "nullstyle.scss";
@import "modificator.scss";
@import "mixins/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Comic CAT";
    src: url("fonts/ComicCAT.woff2") format("woff2"), url("fonts/ComicCAT.woff") format("woff"),
        url("fonts/ComicCAT.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

:root {
    --color-nav-background: white;
    --color-nav-item-background: #d5dff4;
    --color-background: #f7f7f7;
    --color-nav-sub: #858585;
    --color-body: black;
}

[data-theme="dark"] {
    --color-nav-background: black;
    --color-nav-item-background: #2a200b;
    --color-background: #080808;
    --color-nav-sub: #7a7a7a;
    --color-body: white;
}

[data-theme="rainbow"] {
    --color-nav-background: green;
    --color-nav-item-background: red;
    --color-background: blue;
    --color-nav-sub: yellow;
    --color-body: black;
}

body {
    color: var(--color-body);
    background-color: var(--color-background);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
.nav {
    z-index: 10;
    position: fixed;
    background: var(--color-nav-background);
    height: 100%;
    width: 80px;
    transition: all 0.3s;
    &:hover {
        width: 320px;
        .nav-item {
            pointer-events: all;
            &::after {
                width: 98%;
            }
        }
        .nav__content {
            opacity: 1;
            visibility: visible;
        }
    }
    &__list {
    }
    &-item {
        pointer-events: none;
        padding: 5px;
        min-width: 320px;
        a {
            color: var(--color-body);
            padding: 10px;
            display: flex;
            row-gap: 20px;
        }
        margin-bottom: 2px;
        transition: all 0.2s;
        &::after {
            content: "";
            margin-top: 0px;

            display: block;
            width: 20%;
            height: 1px;
            background-color: var(--color-nav-item-background);
        }
    }
    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 40px;
            height: 40px;
        }
        margin-right: rem(12);
    }
    &__content {
        transition: all 0.2s;
        opacity: 0;
        visibility: hidden;
        flex: 1 1 80%;
        gap: 5px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-weight: 400;
        font-size: 18px;
    }
    &__sub-title {
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;

        color: var(--color-nav-sub);
    }
}

#task-container {
    position: absolute;
    display: flex;
    height: 100%;
    padding-left: 80px;
    width: 100%;
}

#task-content {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 100%;
    align-items: center;
    padding: 3% 0 3% 4%;
    justify-content: flex-start;
}

#task-sidebar-container {
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

#task-sidebar {
    padding: 3%;
    align-items: flex-start;
    justify-content: center;
    background-color: #a1a1a1;
    height: 65%;
    border-radius: 20px 0 0 20px;
    width: 100%;
    display: flex;
}

#task-adder {
    padding: 0.5rem;
    height: auto;
    min-height: 15%;
    border: #a1a1a1 dashed 0.55rem;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

#task-adder button {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.task-sidebar-title {
    font-size: 2.5rem;
    font-weight: bold;
}

#questions-container {
    width: 100%;
}

.question-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
}

.question-container * {
    width: 100%;
}

.question {
    display: flex;
}

.question input {
    width: 90%;
}

.question-number {
    width: 10%;
    text-align: center;
}

.answer-closed,
.answer-multiple {
    display: flex;
}

.answer-closed .answer2,
.answer-multiple .answer2 {
    width: 90%;
}

.answer-closed .answer1,
.answer-multiple .answer1 {
    width: 10%;
}
.profile {
    position: fixed;
    background: var(--color-nav-background);
    /* Тень от окон */
    top: 0px;
    padding: 5px 18px;
    height: 70px;
    right: 0px;
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    &-item {
        img {
            width: 28px;
            height: 28px;
        }
    }
    .default-avatar {
        img {
            width: 42px;
            height: 42px;
        }
    }
}
.drop-down {
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    user-select: none;
    img {
        width: 20px;
        height: 20px;
    }
    @include adaptiv-font(17, 14);
    &__title {
        padding: 3px 22px;
        border: 2px solid #000000;
        border-radius: 23px;
        display: flex;
        align-items: center;
    }
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__submenu {
        display: none;
        position: absolute;
        width: 100%;
        padding: 7px 10px;
        background: white;
        border: 2px solid #000000;
        border-radius: 23px;
        &.active {
            display: block;
        }
    }
    &__item {
        display: flex;
        cursor: pointer;
    }
}
