@import "mixins/mixins.scss";
.wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
    height: 100%;
    padding: rem(140) 0px 0px 0px;
}
.container {
    margin: 0 auto;
    max-width: 1890px;
    height: 100%;
}
.wp-margin {
    margin-left: rem(32);
    margin-right: rem(32);
    @media (max-width: 500px) {
        margin-left: rem(16);
        margin-right: rem(16);
    }
    height: 100%;
}
.btn-default {
    padding: 7px 24px;
    border: 2px solid #000000;
    border-radius: 23px;
    font-weight: 500;
    @include adaptiv-font(17, 15);
    display: block;
    transition: all 0.3s;
    &:hover {
        background-color: #000000;
        color: white;
    }
}
.fw-300 {
    font-weight: 300;
}
.c-grey {
    color: #9e9e9e;
}
.row {
    display: flex;
}
.jc-space-b {
    justify-content: space-between;
}

.h1 {
    @include adaptiv-font(40, 19);
    font-weight: bold;
}
.h2 {
    @include adaptiv-font(33, 15);
    font-weight: 300;
}
.img-fluid {
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0px;
        object-fit: cover;
    }
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0px;
        object-fit: cover;
    }
}
.wp-margin-landing {
    margin-left: rem(50);
    margin-right: rem(50);
    @media (max-width: 768px) {
        margin-left: rem(32);
        margin-right: rem(32);
    }
    @media (max-width: 500px) {
        margin-left: rem(16);
        margin-right: rem(16);
    }
}
.mr-8 {
    margin-right: 8px;
}
.anim-right {
    animation: right 1s ease;
}
@keyframes right {
    0% {
        transform: translateX(1020px);
    }

    100% {
        transform: translateX(0px);
    }
}
.df-aic-jc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.df-as-js {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.text-tr-uppercase {
    text-transform: uppercase;
}
