<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SchoolWars" , suffix: " · Phoenix Framework" %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/scss/home.css" )} />

      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/js/app.js"
        )}></script>
</head>

<body>


  <nav class="nav">
    <ul class="nav__list">
      <li class="nav-item">
        <a href="/home">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/logo-2.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Главная
            </div>
            <div class="nav__sub-title">
              Краткие новости, рейтинг, рекомендуемая задача
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a href="/tasks">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/menu-icon/wars.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Пройти задание и получить баллы
            </div>
            <div class="nav__sub-title">
              пройти задачу
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/create_task">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/menu-icon/create.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Конструктор задач
            </div>
            <div class="nav__sub-title">
              Создать задачу, и опубликовать её
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/school">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/menu-icon/news.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Новости
            </div>
            <div class="nav__sub-title">
              Почитать подробные новости по школам
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/admin/panel">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/menu-icon/admin.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Административная панель
            </div>
            <div class="nav__sub-title">

            </div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/news_editor">
          <div class="nav__img ">
            <img src={Routes.static_path(@conn, "/images/menu-icon/news-plus.png" )} alt="">
          </div>
          <div class="nav__content">
            <div class="nav__title">
              Создать новосоть
            </div>
            <div class="nav__sub-title">

            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="profile">
    <!--   <li class="profile-item"><img src={Routes.static_path(@conn, "/images/icon/sun.png" )} alt=""></li>
    <li class="profile-item"><img src={Routes.static_path(@conn, "/images/icon/notification.png" )} alt=""></li> 
   <li class="profile-item"><img src={Routes.static_path(@conn, "/images/icon/profile.png" )} alt="">     </li>-->




    <a href="/profile" class="profile-item default-avatar"><img
        src={Routes.static_path(@conn, "/images/icon/avatar-default.png" )} alt="">

    </a>
    <li class="profile-item fw-bold"> 20 очков
      <ul class="sub-menu">
        <a class="sub-menu-item" href="/logout">Выйти из аккаунта</a>
      </ul>
    </li>
    <li class="profile-item ">
      <div class="drop-down">
        <div class="drop-down__title">
          <span class="title-dropdown">RU</span>
          <span class="drop-down__image"><img src={Routes.static_path(@conn, "/images/icon/arrow-dropdown.svg"
              )}alt=""></span>
        </div>

        <ul class="drop-down__submenu">
          <li class="drop-down__item">
            <span class="language"><img src={Routes.static_path(@conn, "/images/icon/rus.png" )}alt="" alt=""></span>
            <span class="text">RU</span>
          </li>
          <li class="drop-down__item">
            <span class="language">
              <img src={Routes.static_path(@conn, "/images/icon/kz.png" )}alt="" alt="" alt="">
            </span>
            <span class="text">KZ</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="wp-margin-90">
    <%= @inner_content %>
  </div>

</body>

</html>