<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SchoolWars" , suffix: " · Phoenix Framework" %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/js/app.css" )} />

      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/js/app.js"
        )}></script>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__body wp-margin">
          <a href="/" class="logo">
            <span class="logo__text">SchoolWars</span>
            <img src={Routes.static_path(@conn, "/images/logo.png" )} alt="">
          </a>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav-item"><a href="/news">Новости</a></li>
              <li class="nav-item"><a href="/rating">Рейтинг школ по ЕНТ</a></li>

              <li class="nav-item"><a href="/login" class=" btn-default">Войти</a></li>
              <li class="nav-item">
                <div class="drop-down">
                  <div class="drop-down__title">
                    <span class="title-dropdown">RU</span>
                    <span class="drop-down__image"><img src={Routes.static_path(@conn, "/images/icon/arrow-dropdown.svg"
                        )}alt=""></span>
                  </div>

                  <ul class="drop-down__submenu">
                    <li class="drop-down__item">
                      <span class="language"><img src={Routes.static_path(@conn, "/images/icon/rus.png" )}alt=""
                          alt=""></span>
                      <span class="text">RU</span>
                    </li>
                    <li class="drop-down__item">
                      <span class="language">
                        <img src={Routes.static_path(@conn, "/images/icon/kz.png" )}alt="" alt="" alt="">
                      </span>
                      <span class="text">KZ</span>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
          <div class="header_burger"><span></span></div>
        </div>
      </div>
    </header>
    <main class="main">
      <%= @inner_content %>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__body">
          <a href="/" class="logo">
            <span class="logo__text">SchoolWars</span>
            <img src={Routes.static_path(@conn, "/images/logo.png" )} alt="">
          </a>
          <ul class="footer-list">
            <li class="item-list-footer"><a href="">Рейтинги</a></li>
            <li class="item-list-footer"><a href="">Рейтинги</a></li>
            <li class="item-list-footer"><a href="">Рейтинги</a></li>
          </ul>
          <span class="fw-300 c-grey">special ver for hahacton</span>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>