<%= render(SchoolWarsWeb.UserView,"menu.html", id: 1, conn: @conn) %>
    <h1 class="h1 mb-16">Редактирования профиля</h1>

    <div class="df-gap-10-fxdc pad-20 mb-16">
        <h3>Ссылка на картинку для профиля</h3>
        <input type="text" placeholder="Ссылка на картинку для профиля">

    </div>