<a href="" class="func-btn func-btn-link">
   Lorem
</a>


<br><br><br>


<div class="select-class">
   <select>
      <option value="0" class="fw-bold">Выберите класс</option>
      <option value="1">2 класс</option>
      <option value="1">4 класс</option>
      <option value="1">5 класс</option>
      <option value="1">6 класс</option>
   </select>
</div>